
<%- include("partials/header.ejs"); %>

<body>

    <div class="colored-section">

        <div class="row heading">
            <div class="col-md-6 my-auto">
                <img class="heading-image mb-3" src="images/logo-gamapi.png" alt="">
            </div>

            <div class="col-md-6 my-auto">
                <h1 class="heading-title display-4"> Ayo bergabung bersama Gamapi 2021</h1>
                <p>"Bersama, Bergerak, Berdampak"</p>
                <a type="button" class="btn btn-primary m-3" href="/pendaftaran">Daftar Sekarang</a>
                <a type="button" class="btn btn-secondary m-3" href="/#divisi">Pilihan Divisi</a>
            </div>
        </div>
        
    </div>
    
    <div class="heading">
        <div class="kabinet row justify-content-center">
            <div class="col-md-5 my-auto order-md-last">
                <img class="heading-image image-fluid my-3" src="images/logo-kabinet.png" alt="">
            </div>

            <div class="col-md-5 my-auto order-md-first">
                <h1 class="section-heading">Kabinet Niskala Sembrani</h1>
                <p>Dalam bahasa Sansekerta,
                    Niskala memiliki arti tidak ada halangan atau selamat. Sembrani memiliki arti berani
                    </p>
                
                <p>Niskala Sembrani merupakan bentuk pengharapan bagi Gamapi. Kendati hanya berada di lingkup departemen dan ditengah ketidakpastian situasi pandemi Covid-19, Gamapi dapat memberikan kebermanfaatan serta mampu mengarungi periode kepengurusan tahun ini dengan penuh keberanian dan tanpa halangan yang berarti.</p>
                <div class="mt-5 mb-3">
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 justify-content-center mb-3">
                <h2> Visi</h2>
                <p>Mewujudkan Gamapi sebagai wadah berkembang dan berkolaborasi mahasiswa MKP dengan menghadirkan profesionalitas, efektivitas, adaptabilitas, dan memahami posisi serta meningkatkan peran Gamapi sebagai himpunan mahasiswa departemen.</p>
            </div>
            <div class="col-md-7">
                <h2>Misi</h2>
                <ul class="list-group">
                    <li class="list-group-item"> Menghadirkan profesionalitas dimanifestasikan dalam penggunaan merit system.</li>
                    <li class="list-group-item">Meningkatkan efektivitas organisasi melalui re-strukturisasi kepengurusan, perincian tupoksi pengurus, pemetaan, dan pengoptimalan potensi SDM mahasiswa MKP.</li>
                    <li class="list-group-item">Memunculkan ruang-ruang partisipasi alternatif bagi anggota GAMAPI.</li>
                    <li class="list-group-item">Adaptif terhadap dampak Covid-19 dengan mitigasi program kerja serta melakukan pengawalan isu nasional atau daerah secara fokus dan berkala.</li>
                    <li class="list-group-item">Meningkatkan semangat kolaboratif antar  divisi, lembaga, NGO, atau stake holders lain. li>
                </ul>
            </div>
            
        </div>
    </div>

    <div class="pegurus-harian colored-section">
        <h1 class="display-2 mt-5">Pengurus Harian</h1>

        <div class="row my-5">
            <div class="col-md-6 my-5">
                <div class="row">
                    <div class="col-6 my-auto">
                        <h2>Fery Dwi Setiawan</h3>
                        <h4>Ketua Gamapi 2021</h4>
                    </div>
                    <div class="col-6">
                        <img class="foto-ketua" src="images/foto/fery.png" alt="foto-ketua">
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-6 my-5">
                <div class="row">
                    <div class="col-6">
                        <img class="foto-ketua" src="images/foto/sasa.png" alt="foto-wakil-ketua">
                    </div>
                    <div class="col-6 my-auto float-start">
                        <h2>Annisa Rahmania Jernih</h3>
                        <h4>Wakil Ketua Gamapi 2021</h4>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div>
            <div class="row my-5 justify-content-center">
                <% for(let i=0; i<ph.length; i++){ %> 
                <div class="col-md-4 col-6 my-3">
                    <img class="foto-ph" src="images/foto/<%= ph[i].foto %>" alt="foto-PH">
                    <h3 class="display-6"><%= ph[i].nama %></h3>
                    <h5><%= ph[i].jabatan %></h5>
                </div>
                <% } %>
            </div>

        </div>

    </div>

    <div id="divisi">
        <h1 class="mt-5">Pilihan Divisi</h1>

        <div class="album">
            <div class="row my-3 justify-content-center">
                <% for(let i=0; i<divisi.length; i++){ %>
                    <div class="container-md col-md-3 col-sm-6 col-8 p-3 m-2 bg-dark border border-primary border-1 rounded">
                        <h3 class="nama-divisi d-inline-flex rounded px-3"> <%= divisi[i].nama %> </h3>
                        <p class="deskripsi-divisi"> <%= divisi[i].deskripsi %> </p>
                        <a type="button" href="<%= divisi[i].link%>" class="btn btn-outline-info">kenalan lebih lanjut yuk</a>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs"); %>