
<%- include("partials/header.ejs"); %>

<body>

    <div class="colored-section">

        <div class="row heading">
            <div class="col-md-6 my-auto">
                <img class="heading-image mb-3" src="images/logo-gamapi.png" alt="">
            </div>

            <div class="col-md-6 my-auto">
                <h1 class="heading-title display-4"> Ayo bergabung bersama Gamapi 2021</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ut nibh vitae interdum. Curabitur gravida facilisis quam, a hendrerit purus viverra quis. Cras suscipit sodales elit, ac ullamcorper lectus ultrices et</p>
                <a type="button" class="btn btn-primary m-3" href="/pendaftaran">Daftar Sekarang</a>
                <a type="button" class="btn btn-secondary m-3" href="/#divisi">Pilihan Divisi</a>
            </div>
        </div>
        
    </div>
    
    <div class="heading">
        <div class="kabinet row">
            <div class="col-md-6 my-auto">
                <h1 class="section-heading">Kabinet Niskala Sembrani</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ut nibh vitae interdum. Curabitur gravida facilisis quam, a hendrerit purus viverra quis. Cras suscipit sodales elit, ac ullamcorper lectus ultrices et</p>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h2>visi</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor ut nibh vitae interdum.</p>
                    </div>
                    <div class="col-md-6">
                        <h2>Misi</h2>
                        <ul class="list-group">
                            <li class="list-group-item">Lorem ipsum dolor sit amet,</li>
                            <li class="list-group-item">Lorem ipsum dolor sit amet,</li>
                        </ul>
                    </div>
                        
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <img class="heading-image image-fluid my-3" src="images/logo-kabinet.png" alt="">
            </div>
        </div>
    </div>

    <div class="pegurus-harian colored-section">
        <h1 class="display-2 mt-5">Pengurus Harian</h1>

        <div class="row my-5">
            <div class="col-md-6 my-5">
                <div class="row">
                    <div class="col-6 my-auto">
                        <h2 class="display-4">Fery Dwi Setiawan</h3>
                        <h4>Ketua Gamapi 2021</h4>
                    </div>
                    <div class="col-6">
                        <img class="foto-ketua" src="images/foto/fery.png" alt="foto-ketua">
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-6 my-5">
                <div class="row">
                    <div class="col-6">
                        <img class="foto-ketua" src="images/foto/fery.png" alt="foto-ketua">
                    </div>
                    <div class="col-6 my-auto float-start">
                        <h2 class="display-4">Sasa</h3>
                        <h4>Wakil Ketua Gamapi 2021</h4>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div>
            <div class="row my-5 justify-content-center">
                <% for(let i=0; i<ph.length; i++){ %> 
                <div class="col-md-4 col-6 my-3">
                    <img class="foto-ph" src="images/foto/<%= ph[i].foto %>" alt="fotoPH">
                    <h3 class="display-5"><%= ph[i].nama %></h3>
                    <h5><%= ph[i].jabatan %></h5>
                </div>
                <% } %>
            </div>

        </div>

    </div>

    <div id="divisi">
        <h1 class="mt-5">Pilihan Divisi</h1>

        <div class="album">
            <div class="row my-3 justify-content-center">
                <% for(let i=0; i<divisi.length; i++){ %>
                    <div class="container-md col-md-3 col-sm-6 col-8 p-3 m-2 bg-dark border border-primary border-1 rounded">
                        <h3 class="nama-divisi d-inline-flex rounded px-3"> <%= divisi[i].nama %> </h3>
                        <p class="deskripsi-divisi"> <%= divisi[i].deskripsi %> </p>
                        <a type="button" href="<%= divisi[i].link%>" class="btn btn-outline-info">kenalan lebih lanjut yuk</a>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>

    <%- include("partials/footer.ejs"); %>